[Desktop Entry]
Encoding=UTF-8
Name=Link to Inline image 1
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=81dfbe462b&view=fimg&th=15b0e1cc85f15c07&attid=0.1&disp=emb&realattid=ii_15b0e1cb251cfe4d&attbid=ANGjdJ-qEWTZtIja5AtB7k10ECFmW7M3BvD3-jrc5QF5uzXZJX4anbpSI7WYhZ4-XFOySjUyiSD3X4j2c7oqg2kvn2VgWyPU18DIpyysMyKLbpPjf2ZgFUZYZ4Qv8_E&sz=w592-h788&ats=1490590447265&rm=15b0e1cc85f15c07&zw&atsh=1
Icon=text-html
